

/* Header */

.app {
    position: relative;
}

.header {
    width: 100%;
    position: absolute;
    background-color: rgba(124, 122, 40, 0.15);
}

.header-nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-logo {
    font-family: 'Allura';
    font-size: 3.8rem;
    color: var(--white-color);
    margin-bottom: 5px;
    line-height: 4.75rem;
    height: 48px;
    text-decoration: none;
}

.nav-menu {
    margin-bottom: 13px;
}

.nav-menu__list {
    margin: 0;
    padding-left: 0;
    display: flex;
}

.nav-menu__items {
    list-style-type: none;
    margin: 0 20px;
}

.nav-menu__link {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    padding: 5px 0px;
    position: relative;
}

.nav-menu__link::after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 0%;
    height: 4px;
    left: -10%;
    bottom: -11px;
    transition: width 0.2s ease;
}

.nav-menu__link:hover::after{
    width: 120%;
}

.nav-func {
    display: flex;
    align-items: flex-end;
    
}

.nav-func__singup {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--white-color);
    padding: 6px 15px 6px;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.nav-func__languages {
    color: var(--gray-color);
    font-size: 1.6rem;
    margin-left: 18px;
    margin-bottom: 14.58px;
    position: relative;
    cursor: pointer;
}

.nav-func__languages img {
    margin-bottom: 4px;
}


.nav-func__languages:hover .header__nav-languages {
    display: block;
    transition: animation 0.5s;
}

.header__nav-languages {
    background-color: #7b7d6c;
    padding-left: 0;
    width: 110px;
    box-shadow: 0px 0px 1px 1px #9da085;
    position: absolute;
    z-index: 2;
    animation: fromUnderOnTop ease-out 0.5s;
    right: 0;
    top: 23px;
    border-radius: 2px;
    display: none;
}

.header__nav-languages::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 8px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #7b7d6c transparent;
}

@keyframes fromUnderOnTop {
    from { 
        opacity: 0;
        transform: translateY(50px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }

}

.header__nav-languages-lists {
    list-style-type: none;

}

.header__nav-languages-link:hover {
    color: var(--white-color);
    background-color: #8d93699c;

}

.header__nav-languages-link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-left: 10px;
    color: rgb(219, 219, 219);
    font-size: 1.3rem;
    padding: 4px 0px 4px 10px;
}

.header__nav-languages-link img{
    margin-right: 10px;
}

/* container */


.container-img {
    background-image: url(../image/img1.png);
    width: 100%;
    min-height: 712px;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-wrap {
    position: relative;
    top: 366px;
    text-align: center;

}

.text-heading {
    font-weight: 600;
    margin: 0;
    font-size: 6rem;
    line-height: 9rem;
    color: var(--white-color);
}

.text-title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--white-color);
    margin: 0;


}

.info {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.info-wrap {
    display: flex;
    background: rgba(124, 122, 40, 0.28);
    box-shadow: 0px 0px 10px 1px var(--primary-color);
    border-radius: 15px;
    padding: 0 21px;
    align-items: end;
}

.info-from {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--white-color);
    width: 188px;
    text-align: start;
    margin-bottom: 26px;
    margin-right: 5px;
    font-weight: 500;
}

.info-from__choose {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #78894E;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    padding: 14px 7px 17px 13px;
    border-radius: 5px;
    height: 48px;
    justify-content: space-between;

}

.info-from__choose img {
    margin-top: 10px;
}

.info-from__choose .info-from__icon {
    margin-top: 2px;
}

.search-btn {
    padding: 12px 46px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight:  500;
    line-height: 2.4rem;
    margin: 39px 0 27px;
    width: 148px;
    height:47px;
    color: var(--header-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.info-from__persons {
        width: 84px;
}



/* taskbar */

.taskbar {
    position: fixed;
    right: 0;
    top: 189px;
    display: flex;
    flex-direction: column;
    width: 43px;
    height: 179px;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(124, 122, 40, 0.6);
    border-radius: 20px 0px 0px 20px;
    z-index: 10;
}

.taskbar-link {
    width: 18px;
    height: 18px;
}

.taskbar-link:hover {
    opacity: 0.7;
}

.taskbar-icon {
    width: 100%;
    height: 100%;
}

.mesage {
    position: fixed;
    right: 19px;
    bottom: 13px;
    z-index: 10;

}

.mesage-icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    box-shadow: 0 0 1px #000;
    cursor: pointer;
}

.mesage-icon img {
    margin: auto;
}

.mesage-text {
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: var(--primary-color);
    text-shadow: 1px 1px black;
}

/* exclusive offers*/

.exclusive {
    background-color: var(--primary-color);
}

.exclusive-wrap {
    padding-bottom: 82px;
}

.exclusive-title {
    text-align:  center;
    font-size: 3.9rem;
    line-height: 5.8rem;
    color: var(--header-color);
    padding-top: 64px;
    margin: 0;
    font-weight: 500;
}

.exclusive-sale__wrap {
    padding: 95px 83px 48px;
    background-color: #fff;
    margin-top: 37px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.exclusive-img {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: relative;
    padding: 8px 25px;
    overflow: hidden;
}

.exclusive-img:hover {
    transform: scale(1.1);
}

.exclusive-img::after {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(124, 122, 40, 0) 0%, #1B1B1B 100%);
    bottom: 0;
    height: 87px;
    width: 100%;
    left: 0;
}

.percent-sale {
    text-align: center;
    padding-top: 57px;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 5.2rem;
    color: var(--primary-color);
}

.nav-logo-sale span {
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 3rem;
    line-height: 3.8rem;
    color: var(--primary-color);
    font-family: 'Allura', cursive;
    position: absolute;
    z-index: 1;
}

.nav-logo-sale {
    margin-top: 24px;
}

.exclusive-more {
    color: #6C6B22;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    display: block;
    margin-top: 17px;
    cursor: pointer;
}

.exclusive-more:hover {
    opacity: 0.7;
}

.most-visited {
    position: relative;
    overflow: hidden;
}

.most-visited__img {
    background-image: url(../image/most-visited.png);
    height: 880px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    opacity: 0.12;
}

.most-visited__title {
    margin: 0;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: var(--header-color);
    line-height: 6rem;
    font-size: 4rem;
    margin-top: 124px;
    font-weight: 500;
}

.most-visited__wrap {
    position: relative;
    left: 0;
    top: -660px;
}


.most-places__img {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    opacity: 0.6;
}
    

.most-places__img .img {
    width: 400px;
    height: 284px;
    border-radius: 15px;
}

.img1 {
    transform: scale(0.6666);
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.img2 {
    transform: scale(0.875);
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.img3 {
    transform: scale(1);
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.img4 {
    transform: scale(0.875);
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.img5 {
    transform: scale(0.6666);
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.most-places__img.a{
    left: -722px;
}

.most-places__img.b{
    left: -394px;
}

.most-places__img.d{
    left: 394px;
}

.most-places__img.e{
    left: 722px;
}

.most-places__img .most-places__icon {
    width: 48px;
    height: 55px;
    position: absolute;
    left: 46%;
    top: 32%;
}

.most-places__img-wrap {
    position: relative;
    height: 341.33px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    cursor: pointer;
}


.most-places__text {
    line-height: 3.8rem;
    font-size: 2.5rem;
    color: var(--header-color);
    margin-top: -8px;
    padding: 11px 105px 12px;
    
}

.most-places__icon.e,
.most-places__icon.a {
    transform: translateY(30px) scale(0.6666);
}

.most-places__icon.d,
.most-places__icon.b {
    transform: translateY(30px) scale(0.875);

}

.most-places__img.active {
    opacity: 1;
}

.explore-btn__wrap {
    bottom: 201px;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
}

.explore-btn {
    padding: 9px 113px;
    background-color: var(--primary-color);
    font-size: 2rem;
    line-height: 3rem;
    box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 25%);
    border-radius: 5px;
    /* margin: 0; */
    color: var(--header-color);
    margin: auto;
    text-decoration: none;
}

.explore-btn:hover {
    opacity: 0.8;
}

.most-visited__title-last {
    top: 778px;
    margin: 0;
}

.advertise {
    /* overflow: hidden; */
}

.advertise-main {
    overflow: hidden;
}

.advertise-wrap {
    display: flex;
    justify-content: start;
    height: 195px;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.advertise-wrap::after {
    border-bottom: 1px solid #CEDDCC;
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;

}

.advertise-img {
    display: flex;
    justify-content: center;
}

/* service */

.service-wrap{
    padding: 64px 0;
}

.service-title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 6rem;
    color: var(--header-color);
    text-align: center;
    margin-bottom: 36px;
}

.service-info {
    border: 1px solid #9DB367;
    border-radius: 5px;
    padding: 20px;
}

.service-icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(157, 179, 103, 0) 0%, rgba(157, 179, 103, 0.11) 0.01%, rgba(234, 251, 129, 0) 0.02%, rgba(234, 251, 129, 0.76) 100%);
    border-radius: 50%;
    margin: auto;
}

.service-options {
    font-size: 2rem;
    line-height: 3rem;
    color: #9DB367;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    margin-bottom: 0;
}

.service-description {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #9DB367;
    margin: 0;
    margin-top: 4px;
    letter-spacing: 0.1px;
}
/* customer */

.customers {
    background-color: #EAFB81;
}

.customers-wrap {
    padding-bottom: 72px;
}

.customers-title {
    padding: 29px 0 25px;
    margin: 0;
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 500;
}

.customers-container {
    padding: 30px 95px;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 0px 8px 3px rgb(124 122 40 / 21%);
    position: relative;


}

.customers-container__main {
    overflow: hidden;

}

.customers-review {
    display: flex;
    /* justify-content: start; */
    align-items: center;
    width: 100%;
}

.customers-review>a:hover {
    opacity: 0.7;
}

.customers-review__wrap {
    display: flex;
    flex: 1;
    /* transform: translateX(0px); */
    /* transition: all 0.5s ease; */
    padding-right: 95px;    
}

.customers-review__icon-left {
    position: absolute;
    left: 20px;
    z-index: 100;
    top: 50%;
    cursor: pointer;
}

.customers-review__icon-right {
    position: absolute;
    right: 20px;
    z-index: 100;
    top: 50%;
    cursor: pointer;

}

.customers-info {
    margin-left: 29px;
}

.customers-review__img {
    width: 230px;
    height: 271.04px;
    border-radius: 10px;
    object-fit: cover;
}

.customers-info__name {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.8rem;
    color: var(--header-color);
    margin-bottom: 7px;
    margin-left: -7px;
    font-style: italic;
}


.customers-info__star {
    height: 22.22px;
}

.customers-info__star img{
    width: 23px;
    height: 22px;
    margin-right: 6.78px;
}

.customers-info__descrip {
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.01rem;
    margin-top: 26.78px;
    color: var(--header-color);
    width: 484px;
}

.together-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(124, 122, 40, 0.5);

}

.together {
    background-image: url(../image/together.png);
    min-height: 525px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    background-position-x: center;
    background-position-y: center;
}

.together span {
    margin: auto;
    font-family: 'Allura', cursive;
    color: #EAFB81;
    font-size: 10rem;
    line-height: 12.5rem;
    text-shadow: 0px 4px 4px rgba(234, 251, 129, 0.52);
    z-index: 1;
}

/* footer */

.footer {
    background-color: var(--header-color);

}

.nav-logo-grap {
    flex: 1;
}

.footer-wrap {
    padding: 65px 0 82px;
}

.footer-logo {
    font-size: 5rem;
    line-height: 6.2rem;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0px 0px 10px var(--primary-color);
    margin: 0;
    cursor: pointer;
}

.footer-heading {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-bottom: 10px;
}

.footer-list {
    padding-left: 0;
    margin: 0;
}

.footer-list__item {
    list-style-type: none;
    margin-bottom: 4px;
}

.footer-list__item:hover a{
    color:#24e8ff;
}

.footer-list__item:hover .footer-list__item-link:after {
    width: 100%;
}

.footer-list__item-link:after {
    content: "";
    position: absolute;
    background-color: #24e8ff;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    transition: width 0.2s ease;

}


.footer-list__item-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 300;
    position: relative;
}

.footer-icon img {
    margin-right: 14px;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.footer-row {
    flex: 1;
}

.author {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
    line-height: 2.2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    left: 0;
}

.form-calendar,
.form-month,
.form-province {
    border: none;
    color: #78894E;
    font-weight: 500;
    display: flex;
    width: 100%;
    padding: 5px;
    padding: 14px 3px 14px 13px;
    font-size: 1.3rem;
    border-radius: 5px;
    line-height: 1.9rem;
    outline: none;
}

.form-calendar {
    padding: 13px 3px 13px 13px;
}

select {
    background: url(../icon/arrow-down-thin.svg) no-repeat right #fff;
    background-position-y: 20px;
    background-position-x: 160px;
    /* -webkit-appearance: none; */
}

.form-province {
    -webkit-appearance: none;

}

.form-calendar::-webkit-calendar-picker-indicator {
        background-image: url(../icon/calender.svg );
}

input[type="week"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    margin-right: 5px;
    /* opacity: 0.6; */
    /* filter: invert(0.8); */
    background-image: url(../icon/calender.svg );
}

select::-webkit-resizer {
    margin-right: 5px;
}

.menu-on-tab-mob {
    display: none;
}

.hide-on-pc {
    display: none;
}

.body {
    overflow: hidden;
}

.disable {
    opacity: 0;
}